<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!-- ', log4net'은 어셈블리 설정 -->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<log4net>
		<appender name="ConsoleLog" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern name="ConsolePattern" value="%date [%thread] %-5level %logger - %message%newline"/>
			</layout>
		</appender>
		<appender name="RollingFileLog" type="log4net.Appender.RollingFileAppender">
			<file value="Logs\.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value="yyyyMMdd"/>
			<staticLogFileName value="false"/>
			<preserveLogFileNameExtension value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern name="FilePattern" value="%date [%thread] %-5level %logger - %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="DEBUG"/>
			<!-- 실제 동작을 수행시킬 appender 설정 -->
			<appender-ref ref="ConsoleLog"/>
			<appender-ref ref="RollingFileLog"/>
		</root>
	</log4net>
</configuration>